{
  "presets" : [["env", {"modules": false}], "flow", "react"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "plugins": [
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "react-hot-loader/babel"]
}
