@import "~materialize-css/sass/components/color-variables";
@import "variables";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "~materialize-css/sass/materialize";

#general_error_message {
  color: $error-message;
}

.header-container {
  .header-logo {
    font-size: 30px;
  }
  .organization-button {
    margin-left: 5px;
    margin-right: 5px;
    text-transform: none;
  }

  .project-button {
    margin-left: 5px;
    margin-right: 5px;
    text-transform: none;
  }

  .dashboard-button {
    margin-left: 5px;
    margin-right: 5px;
    text-transform: none;
  }
}
